[submodule "2_ano/4_semestre/SistemasWeb/Trabalhos/AuAuControl"]
	path = 2_ano/4_semestre/SistemasWeb/Trabalhos/AuAuControl
	url = https://github.com/PedroWatermann/AuAuControl.git
	branch = master
[submodule "2_ano/4_semestre/SistemasOperacionais/Trabalho/SimuladorDePaginacao"]
	path = 2_ano/4_semestre/SistemasOperacionais/Trabalho/SimuladorDePaginacao
	url = https://github.com/PedroWatermann/SimuladorDePaginacao.git
